<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tributo MJ</title>
    <link rel="stylesheet" href="/src/css/style.css" />
</head>

<body>
    <header>
        <div class="header-menu">
            <a href="/index.html"><img id="logomj" src="/src/images/logomj.png" alt="logomj" href="/index.html"></a>
            <nav>
                <ul class="menu">
                    <a href="/src/views/biografia.html"><li>BIOGRAFIA</li></a>
                    <a href="/src/views/discografia.html"><li>DISCOGRAFIA</li></a>
                    <a href="/src/views/videoclips.html"><li>VIDEOCLIPS</li></a>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner">
        <img id="banner-img" src="/src/images/Image2.jpg" alt="Image2.jpg" href="/index.html">
    </div>

    <footer>
        <div class="copy">
            <p>COPYRIGHT</p>
            <p>CRISTIAN & TXEMA</p>
        </div>
    </footer>
</body>

</html>