@media (max-width: 480px){
  .menu {
    font-size: 2vw;
  }
}

@media (min-width: 480px) and (max-width: 768px ){
  .menu {
    font-size: 2vw;
  }
}

@media (min-device-width: 768px ) and (max-device-width: 1024px) {
  .menu {
    font-size: 2vw;
    }
}

@media (min-width: 1024px) {
  .menu {
    font-size: 24px;
  }

}

body{
    background: linear-gradient(180deg, #340B14 0%, #320B14 0.01%, #100E0E 33.33%, #A80328 66.67%, rgba(255, 0, 57, 0) 100%);
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}

#logomj {
  width: 3.3%;
  height: auto;
  float: left;
}

.header-menu{
    width: 100%;
    overflow: hidden;
}

.menu{
    list-style-type: none;
    font: weight;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 5%;
}
#banner-img{
    width: 100%;

}

.landing{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px;
  width: 70%;
}

.landing img{
  width:100%;
  object-fit: cover;
}

.landing

footer{
  background: linear-gradient(180deg, rgba(232, 179, 75, 0) 0%, rgba(231, 175, 67, 0.539683) 32.81%, #E6AC3C 100%);
}

.copy{
  margin-left: 10%;
}

