

@media (max-width: 480px){
  .menu {
    font-size: 2vw;
  }
}

@media (min-width: 480px , max-width: 768px ){
  .menu {
    font-size: 2vw;
  }
}

@media (min-device-width: 768px ) and (max-device-width: 1024px) {
  .menu {
    font-size: 2vw;
    }
}

@media (min-width: 1024px) {
  .menu {
    font-size: 24px;
  }
  
}
#logomj {
  width: 3.3%;
  height: auto;
    float: left;
}

.header-menu{
    width: 100%;
    overflow: hidden;
}

.menu{
    list-style-type: none;
    font: weight;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    margin: auto;
    margin-top: 5%;
}